<button id="cart-menu-toggler" class="mdl-js2-button mdl-js-ripple-effect cart-button"><i
        class="material-icons mdl-badge mdl-badge--overlap" ng-attr-data-badge="{{cart.items.length}}">shopping_cart</i></button>
<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu cart-menu"
    for="cart-menu-toggler">
    <li ng-repeat="item in cart.items" ng-click="$event.stopPropagation()" class="cart-menu-item">
        <div class="img-container">
            <img ng-src="{{item.img_url}}"/>
        </div>

        <div class="info">
            <h3>{{item.title}}</h3>

            <p>Value: ${{item.value}}</p>
            <a ng-click="$event.stopPropagation();cart.removeItem(item)" href="javascript:void(0)">Remove Item</a>
        </div>
        <div class="clearfix"></div>
    </li>
    <li ng-if="cart.items.length<1" class="cart-menu-item">
        Cart Empty
    </li>
    <li ng-hide="cart.items.length<1" class="cart-menu-item totals">Total: ${{cart.getTotal()}}</li>
    <li class="cart-menu-item action-buttons">
        <a href="brands" ng-show="cart.checkoutPage||cart.items.length<1" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Add Another Item</a>
        <a href="checkout" ng-hide="cart.checkoutPage||cart.items.length<1" class="mdl-button mdl-js-button mdl-button--accent mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Checkout</a>
    </li>
</ul>