<label ng-attr-for="{{id}}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
    <input ng-attr-id="{{id}}" type="checkbox" ng-attr-name="{{name}}" class="mdl-checkbox__input">
    </input>
    <span class="mdl-checkbox__label">{{label}}</span>
</label>