<div class="offer-details-card mdl-grid">
    <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Offer Details</th>
            <th class="mdl-data-table__celld--non-numeric"><span ng-show="offer.status">Status: {{offer.status|ucword}}</span></th>
            <th></th>
        </tr>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Item</th>
            <th class="mdl-data-table__cell--non-numeric">Questions</th>
            <th class="">Trade-In Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in offer.items">
            <td class="mdl-data-table__cell--non-numeric">{{item.name}}</td>
            <td class="mdl-data-table__cell--non-numeric">
                <ul ng-init="item.see_all=false" class="questions">
                    <li ng-hide="$index>1&&!item.see_all" ng-repeat="q in item.questions">{{q.title}} {{q.answer}}</li>
                </ul>
                <a ng-show="item.questions.length>2" class="more-btn" ng-click="item.see_all=!item.see_all"
                   href="javascript:void(0)">{{item.see_all?"hide":"see all"}}</a>
            </td>
            <td>${{item.value}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total:</td>
            <td>${{offer.total_value}}</td>
        </tr>
        </tbody>
    </table>
    <div class="shipping-details mdl-card mdl-card--border mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text">Shipping</div>
        </div>
        <div class="mdl-card__supporting-text mdl-grid">
            <div class="mdl-cell mdl-cell--3-col label">
                Address
            </div>
            <div class="mdl-cell mdl-cell--8-col value">
                <address ng-init="address=offer.shipping_address">
                    {{address.first_name}} {{address.last_name}}<br>
                    <span ng-if="address.address1">{{address.address1}}<br></span>
                    <span ng-if="address.address2">{{address.address2}}<br></span>
                    {{address.city}},{{address.state}} {{address.zip}}</br>
                    Phone: {{address.phone}}<br>
                </address>
            </div>
            <div class="mdl-cell mdl-cell--3-col label">
                Method
            </div>
            <div ng-switch="offer.shipping_method" class="mdl-cell mdl-cell--8-col value">
                <span ng-switch-when="box">Box and Shipping Label</span>
                <span ng-switch-when="fedex">FedEx Shipping Label</span>
                <span ng-switch-when="usps">USPS Shipping Label</span>
            </div>
        </div>
    </div>
    <div class="payment-details mdl-card mdl-card--border mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text">Payment</div>
        </div>
        <div class="mdl-card__supporting-text mdl-grid">

            <div class="mdl-cell mdl-cell--3-col label">
                Method
            </div>
            <div class="mdl-cell mdl-cell--8-col value">
                {{offer.payment_method.name.toUpperCase()}}
            </div>
            <div class="mdl-cell mdl-cell--3-col label">
                Delivery
            </div>
            <div ng-switch="offer.payment_method.name" ng-init="pay=offer.payment_method"
                 class="mdl-cell mdl-cell--8-col value">
                <address ng-switch-when="check">
                    {{pay.payee_name}}<br>
                    {{pay.address1}}<br>
                    {{pay.address2}}<br>
                    {{pay.city}}, {{pay.state}}, {{pay.zip}}</br>
                </address>
                <span ng-switch-when="paypal">{{pay.email}}</span>
                <span ng-switch-when="amazon">{{offer.contact_email}}</span>
                <span ng-switch-when="charity">{{pay.charity_name}}</span>
            </div>
        </div>
    </div>
    <div ng-if="offer.shipment_tracking" class="tracking-details mdl-card mdl-card--border mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text">Tracking</div>
        </div>
        <div class="mdl-card__supporting-text mdl-grid">
            {{offer.shipment_tracking}}
        </div>
    </div>
</div>