<div class="col-xs-10 col-xs-offset-1 mdl-card mdl-shadow--2dp offer-card">
    <div ng-hide="offerLoaded" style="margin:10px auto;" class="mdl-spinner mdl-js-spinner is-active"></div>
    <div class="col-md-12 mdl-grid" ng-show="offerLoaded">
        <div class="mdl-cell--2-col item-centered">
            <div style="width: 100%;">
                <div style="height:200px;margin-top:10px;" class="mdl-card__media custom md-card--border">
                    <img src="{{data.img_url }}" class="grid-item-img">
                </div>
                <h3 style="text-align:center;color:#607D8B;font-size:20px;">{{data.name}}</h3>
            </div>
        </div>
        <div class="mdl-cell--8-col item-centered">
            <div class="h-centered">
                <div class="questions">
                    <div class="offer-card-question" ng-repeat="q in data.questions">{{q.index}}. {{q.title}}
                        <span class="ans">{{q.selectedOption.label}}</span>
                    </div>
                    <button ng-click="enterEditMode()" ng-disabled="buttonsDisabled" class="mdl-button mdl-js-button mdl-js-ripple-effect hidden">Edit Your Answers</button>
                </div>
            </div>
        </div>
        <div class="mdl-cell--2-col item-centered">
            <div class="h-centered">
                <div class="final-offer-details">
                    <div class="tag">Our Offer</div>
                    <div class="price">${{data.finalOffer}}</div>
                    <button ng-disabled="buttonsDisabled" ng-click="grabOffer()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        GET PAID NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>