<form ng-submit="submitForm($event)" name="offerForm" novalidate>
    <div ng-show="error" style="margin-top:20px;margin-bottom:20px;" class="col-md-6 col-md-offset-3 mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            {{error}}
        </div>
    </div>
    <div ng-show="successNoticeVisible" style="margin-top:20px;margin-bottom:20px;" class="col-md-6 col-md-offset-3 mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            Your request has been accepted! We will review your request and send mail with receipt shortly. You can track your request status from your <a href="offers/list">membership panel</a>
        </div>
    </div>
    <div ng-show="formVisible" class="col-md-6 col-md-offset-3 mdl-grid mdl-card mdl-shadow--2dp offer-form">
        <div style="width:100%;margin-bottom:10px;" class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text">Fill Out This Form</div>
        </div>
        <div style="width:47%;margin-left:0%;"
             class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
            <input class="mdl-textfield__input" type="text" id="first_name-ff" name="first_name"
                   ng-model="user.first_name" required>
            <label class="mdl-textfield__label" for="first_name-ff">First Name</label>
        </div>
        <div style="width:47%;margin-left:6%;"
             class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
            <input class="mdl-textfield__input" type="text" id="last_name-ff" name="last_name" ng-model="user.last_name"
                   required>
            <label class="mdl-textfield__label" for="last_name-ff">Last Name</label>
        </div>
        <div style="width:100%;margin-left:0%;"
             class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
            <input class="mdl-textfield__input" type="text" id="address-ff" name="address" ng-model="user.address"
                   required>
            <label class="mdl-textfield__label" for="address-ff">Street Address</label>
        </div>
        <div style="width:47%;margin-left:0%;"
             class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
            <input class="mdl-textfield__input" type="text" id="city-ff" name="city" ng-model="user.city" required>
            <label class="mdl-textfield__label" for="city-ff">City</label>
        </div>
        <div style="width:47%;margin-left:6%;"
             class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
            <input class="mdl-textfield__input" type="text" id="zip-ff" name="zip" ng-model="user.zip" required>
            <label class="mdl-textfield__label" for="zip-ff">Zip Code</label>
        </div>
        <div style="width:47%;margin-left:0%;"
             class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
            <input class="mdl-textfield__input" type="text" id="state-ff" name="state" ng-model="user.state" required>
            <label class="mdl-textfield__label" for="state-ff">State</label>
        </div>
        <div style="width:47%;margin-left:6%;"
             class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
            <input class="mdl-textfield__input" type="text" id="country-ff" name="country" ng-model="user.country"
                   required>
            <label class="mdl-textfield__label" for="country-ff">Country</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
            <div ng-show="emailLoaderVisible"
                 class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active inside-tf-loader"></div>
            <input class="mdl-textfield__input" type="email" pattern="^[\S]+@[\S]+\.[A-z0-9]+$" ng-blur="vm.checkEmailExists()" ng-model="user.email"
                   id="emailf" name="email" required>

            <label class="mdl-textfield__label" for="emailf">Email</label>
        </div>
        <div style="width:100%" ng-if="loginMode">
            <small>Account found! Enter your password</small>
            <div style="width:100%;margin-left:0%;"
                 class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
                <input class="mdl-textfield__input" type="password" id="password-ff" name="password"
                       ng-model="user.password" required>
                <label class="mdl-textfield__label" for="password-ff">Account Password</label>
            </div>
        </div>
        <div style="width:100%" ng-if="registerMode">
            <div style="width:100%;margin-left:0%;"
                 class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
                <input class="mdl-textfield__input" type="password" id="new_password-ff" name="new_password"
                       ng-model="user.new_password" required>
                <label class="mdl-textfield__label" for="new_password-ff">New Password</label>
            </div>
            <div style="width:100%;margin-left:0%;"
                 class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
                <input class="mdl-textfield__input" type="password" id="confirm_new_password-ff"
                       name="confirm_new_password" ng-model="user.confirm_new_password" required>
                <label class="mdl-textfield__label" for="confirm_new_password-ff">Confirm New Password</label>
            </div>
        </div>

        <div style="border-top:none;" class="mdl-card__actions mdl-card--border">
            <button ng-disabled="submissionPending" type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect fl hidden">
                Cancel
            </button>
            <button ng-disabled="offerForm.$invalid||emailLoaderVisible||submissionPending" type="submit"
                    class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect fr">
                Submit
            </button>
            <div style="right: 26px;" ng-show="submissionPending"
                 class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active inside-tf-loader"></div>
        </div>
    </div>
</form>
