<button ng-class="{'checked':selectedValue==optValue}" ng-click="selectedValue=optValue" class="mdl-button mdl-js-button mdl-js-ripple-effect custom-checkbox">
    <span class="icons">
        <i class="material-icons base">check_box_outline_blank</i>
        <i class="material-icons checked">done</i>
    </span>
    <input type="radio" ng-model="selectedValue" name="{{optName}}" ng-value="{{optValue}}"/>
    <span class="custom-checkbox-label">{{optLabel}}</span>
</button>