<div ng-class="{'disabled': data.disabled}" ng-clic="data.disabled=false" class="q-container">
    <div class="q-title">{{data.index}}. {{data.title}}</div>
    <div class="q-options">
        <form>
            <opt ng-repeat="opt in data.options" opt-id="{{data.index}}.{{$index}}" selected-value="data.selectedValue" opt-name="q.{{data.index}}" opt-label="{{opt.label}}" opt-value="{{opt.value}}"></opt>
        </form>
    </div>
    <div class="disabled-overlay"></div>
</div>
