<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-field">
    <input class="mdl-textfield__input" ng-attr-type="{{type||'text'}}" ng-attr-id="{{id}}" ng-attr-name="{{name}}" ng-model="dModel" ng-attr-requiredd="{{dRequired}}">
    <label class="mdl-textfield__label" ng-attr-for="{{id}}">{{label}}</label>
</div>