@import "variables";

.cart-button {
  padding: 5px 7px 5px 7px;
  margin: 0px 7px;
  background: none;
  border: none;
  outline: none;
  color: #EC8140;
  line-height: normal;
  i {
    font-size: 28px;
    transition: .2s ease-out;
  }
  &:hover {
    color: #FF9800;
    transition: .2s ease-in;
  }
}

.cart-menu-item {
  height: auto;
  padding: 8px 16px;
  width: 250px;
  color: #546E7A;

  .img-container {
    width: 60px;
    height: 100px;
    float: left;
    text-align: center;
    margin: 0px 20px 0px 0px;
    padding: 0px;

    img {
      height: 100%;
      max-width: 100%;
    }
  }

  .info {
    float: left;
    a {
      font-weight: 300;
    }
  }

  h3 {
    font-size: 18px;
    margin: 10px 0px 2px;
    padding: 0px;
  }

  p {
    margin: 0px 0px 2px;
  }

  &.action-buttons {
    text-align: center;
  }

  &.totals {
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
  }
}