//$color-g: #8BC34A;
@import "variables";
@import "functions";

$color-g: color($color-primary);
.steps-nav-container {
  margin: 0px 0px 20px 0px;
}

ul.steps-nav {
  font-size: 0px;
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
  }
  li.button button, li.button button[disabled] {
    background: #ECECEC;
    font-size: 18px;
    font-weight: 300;
    padding: 0px 20px;
    color: #9E9E9E;

  }
  li.button button.active {
    background: $color-g;
    color: #fff;
  }
  li.button button[disabled] {
    opacity: 1;
    cursor: default;
  }
  li.arrow {
    background: $color-g;
    height: 1px;
    display: inline-block;
    position: relative;
    width: 50px;
  }
  li.arrow i {
    display: none;
    position: absolute;
    color: $color-g;
    top: -11.8px;
    left: 11px;
    font-weight: 300;
  }
}

.step-container {
  margin: 0px 0px 0px 15px;
  .step-header {
    width: 100%;
    margin: 20px 0px 0px 0px;
    color: #607D8B;
    &.sub {
      margin-top: 0px;
      h3 {
        margin: 5px 0px;
      }
    }
  }
  &#step3, &#step2 {
    .step-header {
      margin-top: 10px;
      &.sub {
        margin-top: 0px;
      }
    }
  }
  .step-fields {
    width: 75%;
    margin: 0px 0px 0px 0px;
  }
  &#step3 {
    .step-fields {
      width: 98%;
    }
    .step-actions {
      @extend .step-fields;
      margin-top: 15px;
      margin-bottom: 60px;
    }
    .alert {
      margin: 20px 0px;
    }
  }
  .step-actions {
    @extend .step-fields;
    margin: 5px 0px 0px 0px;
    button {
      float: right;
      padding: 0px 20px;
    }
  }
  .alert {
    @extend .step-fields;
    padding: 3px 10px;
    margin: 10px 0px;
  }
}

#step2 .alert {
  width: 90%;
}

.steps-container {
  width: 960px;
}

.step-loader {
  margin: 0px auto;
  text-align: center;
}

.payment-options-list {
  margin: 20px 0px 0px 0px;
}

.selectable-thumb {
  width: 132px;
  height: 208px;
  padding: 7px 7px;
  margin: 0px 10px 10px 0px;
  background: #EEEEEE;
  border: 2px solid #eee;
  border-bottom: 2px solid #e0e0e0;
  cursor: pointer;
  float: left;
  transition: 0.2s ease-out;
  &:hover, &.selected {
    background: #e0e0e0;
    border-color: #e0e0e0;
    transition: 0.2s ease-in;
  }

  &.selected {
    border-color: #F59143;
    transition-delay: 0.05s;;
    -webkit-transition-delay: 0.05s;
  }
  &.shipping-option {
    width: 170px;
    height: 212px;
    img {
      max-height: 100px;
    }
  }
  img {
    width: 100%;
  }
  h4 {
    font-size: 14px;
    margin: 10px 0px 5px 0px;
  }
  p {
    font-size: 14px;
    line-height: 15px;
    font-weight: 300;
  }
}

.cart-items-list {
  margin: 0px;
  padding: 0px;
  li {
    list-style-type: none;
  }
  .cart-menu-item {
    width: 90%;
    margin: 0px auto;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    h3 {
      font-size: 20px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }
    .img-container {
      height: 110px;
      width: 80px;
    }
  }
  & > .cart-menu-item:last-child {
    border-bottom: none;
  }
}

.cart-items-container {
  border-left: 1px solid #CFD8DC;
  padding: 0px 0px 0px 20px;
  min-height: 500px;
  color: #546E7A;
}

.checkout-details-wrapper {
  width: 100%;
  margin-top: 30px;
}

.total-value-container {
  text-align: center;
  width: 70%;
  margin: 10px auto;
  font-size: 22px;
  padding: 4px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.add-more-button-container {
  text-align: center;
  margin: 15px 0px;
}

.add-more-button {
  font-weight: 300;
}

.confirmation-page-container {
  width: 800px;
  margin: 5px auto;
  .buttons-group {
    padding: 0px 20px 30px 0px;
    width: 100%;
    .back-btn {
      float: right;
      margin-right: 10px;
    }
    .confirm-btn {
      float: right;
    }
    .loader {
      @extend .back-btn;
    }
  }
  .alert {
    border-radius: 0px;
  }
}

.next-steps {
  width: 100%;
  color: color($palette-blue-grey-500);
  h3 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.next-step-cell {
  text-align: center;
  .material-icons {
    font-size: 60px;
    background: color($palette-blue-grey-500);
    color: white;
    padding: 15px 15px;
    border-radius: 100px;
  }
  h3{
    font-size: 20px;
    margin: 8px 0px 4px 0px;
  }
  ul{
    margin: 0;
    padding: 0;
    color: color($palette-blue-grey-700);
  }
  li{
    list-style-type: none;
  }
  a{
    color: color($color-accent);
  }
}

.offer-details-card {
  min-height: 500px;
  .mdl-data-table {
    font-size: 16px;
    th {
      font-size: 18px;
    }
    td {
    }
  }
  .more-btn {
    //    float: right;
    font-size: 14px;
  }
  ul.questions {
    margin: 0px;
    padding: 0px;
    li {
      list-style-type: none;
    }
  }
  .shipping-details {
  }
  .mdl-card {
    min-height: 200px;
    border-radius: 0px;
    &.tracking-details{
      min-height: 110px;
    }
    .label {
      font-size: 16px;
      font-weight: bold;
    }
    .value {
      font-size: 16px;
    }
    address {
      @extend .value;
      font-style: italic;
    }
    .mdl-card__title-text {
      font-weight: 400;
      color: $data-table-header-color;
    }
    .mdl-card__supporting-text {
      width: 100%;
    }
  }
}
.offers-list-container{
  width: 500px;
  .alert{
    width: 100%;
  }
  .list-group{
    border-radius: 0px;
  }
  .list-group-item{
    border-radius: 0px;
    img{
      width: 60px;
      height: auto;
      margin-right: 15px;
      float: left;
    }
    .info{
      display:block;
      float:left;
      margin: 10px 0px 0px 20px;
    }
  }
}
@import "variables";