@import "variables";

@mixin colorized($back-color, $color: $color-white) {
  background-color: color($back-color);
  color: color($color);
  border-color: color($color-white, 0.4);
}

.page-container.colored {
  padding: 0px;
  .page-title {
    margin: 0px 0px;
    padding: 30px 0px 25px 30px;
    &.bordered{
      border-bottom: 1px solid color($palette-blue-grey-500, 0.4);
    }
  }
  .section {
    padding: 10px 15px;

  }
  .colorized {
    &.blue {
      @include colorized($palette-light-blue-A200);
    }
    &.indigo {
      @include colorized($palette-indigo-500);
    }
    &.deep-purple {
      @include colorized($palette-deep-purple-500);
    }
    &.red {
      @include colorized($palette-red-A200);
    }
    &.teal {
      @include colorized($palette-teal-500);
    }
  }
}

.instruction-step i {
  font-size: 80px;
}