@import "variables";
@import "functions";
body{
  background: url(../images/bg.png);
  font-family: $primary-font;
}
a{
  color: color($color-primary-dark);
}
.ng-hide{
  display:none;
}
.grid-container-wrapper {
  min-height: 1000px;
  padding: 13px 0px;
  background: #EEEEEE;
}

.grid-container {
  background: transparent;
  border-radius: 8px;
  margin: 0px auto;
}

.grid-title-container {
  padding: 20px 0px 54px 0px;
}
.grid-title-container h1{
    font-weight: 300;
}
.grid-items-container {

}

.grid-item {
  position: relative;
  height: auto;
  border: 5px solid #fff;
  margin-bottom: 40px;
  background: white;
  border-radius: 3px;
  transition: .2s ease-in;
}
.grid-item:hover{
}
.grid-item-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.grid-item-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
.grid-item .mdl-card__media{
  position:relative;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 7px;
}
.grid-item-name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  background: rgba(43, 43, 43, .4);
  color: white;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  transition: .2s ease-in;
  cursor: pointer;
  font-weight: 300;
}
.grid-item:hover .grid-item-name{
  background: rgba(43, 43, 43, 0.8)
}
.subtle-button{
  background:white;
  box-shadow: 0px 0px 0px 4px #DEDEDE inset;
  color: #DEDEDE;
  font-weight: 300;
  transition: all .3s ease;
  border-radius: 0;
  padding: 15px 30px;
  width:auto;
  background: transparent;
}
.subtle-button:hover{
  background-color: #53BF6B;
  background-position: 112px 18px;
  text-decoration: none !important;
  box-shadow: 0px 0px 0px 0px #CCC inset;
  transition: all 0.3s ease 0s;
  color: #fff;
}
.subtle-button:visited, .subtle-button:focus, .subtle-button:active{
  outline: none;
  text-decoration: none;
  color: #fff;
}
.mdl-card__media.custom{
  margin: 10px 0px;
  position:relative;
  background-color: transparent;
}
.q-container{
  position:relative;
  padding: 34px 0px 25px 25px;
}
.q-title{
  font-size: 27px;
  font-weight: 300;
  font-family:Roboto;
  color: #555;
}
.q-options{
  margin: 13px 0px 0px 30px;
}
.q-option{
  width: auto!important;
  margin-right: 10px;
}
opt{
  margin-right: 10px;
}
opt .mdl-radio{
  font-size:20px;
}
.custom-checkbox{
  text-transform: none;
  font-size: 22px;
  font-weight: 300;
  color: #333;
}
.custom-checkbox span.icons{
  margin-right: 7px;
}
.custom-checkbox i{
  vertical-align: middle;
  color: #757575;
}
.custom-checkbox.checked i{
  color: green;
}
.custom-checkbox i.checked{
  display:none;
  position: absolute;
  top: 5px;
  left: 11px;
}
.custom-checkbox.checked i.checked{
  display:inline-block;
}
.custom-checkbox input[type="radio"]{
  display:none;
}
question .disabled-overlay{
  width:100%;
  height: 100%;
  background: rgb(255,255,255);
  opacity: 0;
  position:absolute;
  top: 0;
  left: 0;
  display:none;
  transition: 0.3s ease-in;
}
.q-container.disabled .disabled-overlay{
  display:block;
  opacity: 0.5;
  transition: 0.3s ease-out;
}
button[disabled]{
  opacity: 0.5;
}
.offer-card{
 margin-bottom: 20px;
  margin-top:70px;
}
.offer-card-question{
  font-weight: 300;
  font-size: 22px;
  margin: 7px 0px;
  color: #607D8B;
}
.offer-card-question .ans{
//  color: #263238;
  font-weight: 400;
}
.item-centered, .v-centered{
  display:box;
  display:-webkit-flex;
  display: --moz-flex;
  display:flex;
  align-items: center;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
}
.item-centered>div, .v-centered>div{
  align-self:center;
}
.h-centered{
  width:100%;
  display:box;
  display:-webkit-flex;
  display:--moz-flex;
  display:flex;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
}
.final-offer-details{
  text-align:center;
  font-size: 30px;
  color: #555;
}
.final-offer-details .price{
  font-size: 40px;
  color: #EC8140;
}

.offer-form{
  margin-top: 20px;
  margin-bottom: 20px;
}
.offer-form .mdl-textfield__label{
  color: rgba(0, 0, 0, 0.7);
}
.inside-tf-loader{
  position:absolute;
  top: 10px;
  right: 0;
}
.flat-grid-container{
  margin-top: 7px;
}
.flat-grid{
  margin-top: 15px;
}
.flat-grid-item{
  margin: 5px 0px;
  padding: 0px 10px 0px 0px;
}
.flat-grid-item-inner{
  background: #eee;
  border: 2px solid #eee;
  border-bottom: 2px solid #e0e0e0;
  height: 100%;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.flat-grid-item-inner:hover{
  background: #E0E0E0;
  border-color: #F59143;
  transition: 0.2s ease-out;
}
.flat-grid-item-img-container{
  width: 100%;
  height: 100%;
  position:relative;
}
.flat-grid-item-img{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}
.flat-grid-item{
  height: 120px;
}
.phones-grid .flat-grid-item{
  height: auto;
}
.phones-grid .flat-grid-item .flat-grid-item-img-container{
  height: 190px;
}
.phones-grid .flat-grid-item-inner{
  padding: 8px 0px;
}
.flat-grid-item-title{
  text-align:center;
  padding: 5px 0px 0px 0px;
}
.opt-container{
  margin-top: 20px;
}
.flat-option{
  font-size: 26px;
  color: #757575;
  background: #eee;
  border-bottom: 4px solid #e0e0e0;
  font-weight: 300;
  padding: 10px 20px;
  float: left;
  margin: 0px 12px 12px 0px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.flat-option.img{
  padding: 8px 8px;
  height: 70px;
  position:relative;
}
.flat-option.img .placer{
}
.flat-option:hover{
  background: #E0E0E0;
  border-color: #F59143;
  transition: 0.2s ease-in;
}
.flat-option.active{
  @extend .flat-option:hover;
}
.grid-title{
  color: color($palette-blue-grey-500);
  font-weight: 400;
}
.flat-q-header{
  color: #616161;
  margin: 10px 0px 0px 0px;
  width:93%;
}
.flat-q-title{
  font-size:26px;
  margin:20px 0px 4px 0px;
}
.flat-q-img{
  float:right;
  max-width:200px;
  max-height: 80px;
}
.flat-option .icon{
  margin-right: 8px;
}
.flat-option .icon img{
  width: 34px;
  height: 34px;
  vertical-align:middle;
}
.flat-questions-container{
  position:relative;
}
.flat-questions-container .q-actions{
  //position: absolute;
  //bottom: 20px;
  margin-top: 20px;
}
a.mdl-button:hover{
  text-decoration:none;
}