@import "variables";
.footer-area {
  background-color: #2D343C;
  border-top: 1px solid #E2E2E2;
}

.footer-container {
  height: 70px;
}

.footer-logo-container {
  background: url("../images/logo.png") no-repeat;
  background-size: 140px 70px;
  background-position: center center;
  height: 70px;
}

.footer-nav {
  background: none;
  border: none;
  min-height: 40px !important;
}

.footer-menu-list {
  padding: 0px;
}
.footer-menu-list li a{
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer-menu-list li a:hover {
  color: #666 !important;
}

.footer-menu-list > li:first-child a {
  padding-left: 0px;
}

.footer-menu-container p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar.footer-nav{
  position:relative!important;
  top: 0!important;
}
.navbar.footer-nav .navbar-nav > li > a {
  color: #D1D3D6;
  padding: 12px 8px 0px 8px;
}
.navbar.footer-nav .navbar-nav > li:first-child > a{
  padding-left: 0px;
}
.navbar.footer-nav .navbar-nav > li > a:hover{
  color: #fff!important;
}
.copyright-text{
  color: #D1D3D6;
}
.footer-logo{
  color: #D1D3D6;
  font-size: 35px;
  font-weight: 900;
  font-family: $secondary-font;
  text-transform: lowercase;
  padding: 22px 0px 0px 0px;
  height: auto;
}
.footer-logo:hover, .footer-logo:focus{
  color: #fff;
}