@import "variables";
.logo-container {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 140px 70px;
  height: 70px;
  width: 140px;
  margin-left: 0px !important;
}

.custom-navbar-height {
  height: 63px;
}

.navbar {
  margin-bottom: 0px;
  background: white;
}

.header-menu>li>a {
  color: #607D8B !important;
  font-weight: 300;
  padding-bottom: 7px !important;
  padding-top: 10px!important;
}

.header-menu>li>a:after {
  display: block;
  background: #607D8B;
  width: 0%;
  height: 1px;
  transition: .3s ease-out;
  content: "";
  margin: auto;
}

.header-menu li>a:hover:after {
  width: 100%;
}

//body.home .header-menu>li>a{
//  color: white!important;
//}
//body.home .header-menu>li>a:after{
//  background: white;
//}
//body.home .navbar{
//  position: absolute;
//  top: 30px;
//  left: 0;
//  width: 100%;
//  background: transparent;
//  z-index: 1000;
//  border: none;
//}
.text-logo {
  font-size: 40px;
  line-height: 31px;
  font-weight: 900;
  font-family: $secondary-font;
//  text-transform:lowercase;
  color:color($palette-teal-300)!important;
}
//body.home .text-logo{
//  color: #FFF !important;
//  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
//}
//body.home .text-logo:hover {
//  color: white !important;
//}
.user-menu-toggle{
  color: #607D8B!important;
  text-transform: none;
  font-size: 16px;
}
.home .user-menu-toggle {
  color: white;
}
ul.user-menu li a{
  color: #333!important;
}
.navbar-default{
  border:none!important;
}
