@import "variables";
.custom-btn {
  top: 260px;
  font-size: 28px;
  background-color: #53BF6B;
  box-shadow: none;
  color: white;
}

.custom-body-container {
  background-color: $body-container-color;
}

.for-test-1 {
  height: 834px;
  background-color: red;
}

.for-test-2 {
  height: 278px;
  background-color: pink;
}

.for-test-3 {
  //height: 280px;
  background-color: green;
}

.for-test-4 {
  height: 194px;
  background-color: yellow;
}

.headline-container {
  padding-top: 24px;
  padding-bottom: 0px;
}

.headline-container h1 {
  color: #607D8B;
  font-size: 44px;
  font-weight: 300;
}

.headline-border {
  width: 181px;
  height: 5px;
  border-bottom: 1px solid #607D8B;
  margin-bottom: 0px;
}

.middle-container {
  position: relative;
  padding-bottom: 50px;
}

.timeline-border {
  width: 2px;
  height: 820px;
  height: 1110px;
  background-color: #8BC34A;
  background-color: #4AAAA5;
position: absolute;
  //left: 583px;
  top: 50px;
  z-index: 100;
}

.full-box-container {
  padding-top: 50px;
}

.box-icon-container {
  //  background: url(../images/icon.png) no-repeat;
  //  background-position: center center;
  height: 240px;
  text-align: center;
}

.box-icon-container i {
  font-size: 168px;
  line-height: 235px;
  color: #8BC34A;
  color: #4AAAA5;
}

.box-text-container {
  background-color: #F5F5F5;
  height: 240px;
  padding: 50px;
  position: relative;
}

.box-text-container h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #424242;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 26px;
}

.box-text-container p {
  font-size: 16px;
  color: #757575;
  font-weight: 300;
  font-style: italic;
}

.img-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-img-box {
  height: 278px;
  overflow: hidden;
  padding: 0px;
  position: relative;
}

.bottom-img-box img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.bottom-img-box .text-container {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 10%;
  height: 10%;
  opacity: 0;
  background: rgba(43, 43, 43, 0.3);
  color: white;
  border-radius: 50%;
  transition: all .3s ease-in .1s;
  display: table;
}

.bottom-img-box:hover .text-container {
  opacity: 1;
  top: 0;
  left: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 43, 43, 0.6);
  transition: all .3s ease-out;
}

.bottom-img-box .text-container p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  transition: all .2s ease-out;
  display: table-cell;
  vertical-align: middle;
}

.bottom-img-box:hover .text-container p {
  opacity: 1;
  transition: all .2s ease-in .3s;
}

.slider-section {
  position: relative;
  background: #eeeeee;
  overflow: hidden;
  width: 100%;
  height: 588px;
}

.slider-section .container {
  height: 100%;
}

.blurred {
  position: absolute;
  background: transparent url("../images/bg4.jpg") no-repeat scroll center top / cover;
  filter: blur(5px);
  z-index: 0;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  box-shadow: 0px -160px 150px rgba(0, 0, 0, 0.7) inset;
}

.landing-img-container {
  height: 100%;
  position: relative;
  background: url(../images/bg5.png) no-repeat scroll center center/contain;
}

.landing-img {
  max-width: 100%;
  max-height: 100%;
}

.landing-slogan {
  margin-top: 147px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.landing-slogan .text {
  font-family:$secondary-font;
  color: #607D8B;
  font-size: 2.2em;
  line-height: 1.1em;
  text-transform: uppercase;
}

.landing-slogan .text.sm {
  font-size: 1.0em;
  font-weight: 300;
}

.landing-slogan .sell-button {
  margin-top: 20px;
  height: auto;
  padding: 8px 42px;
  font-size: 19px;
  font-weight: 300;
}

.form-field {
  width: 100%;
}

label {
  margin-bottom: 0px !important;
  font-weight: 300 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.submit-button {
  width: 100%;
  margin: auto;
  height: auto;
  padding: 8px 10px;
}

.form-card .mdl-card__supporting-text {
  width: 100% !important;
}

#feat-list {
  height: 150px;
  background: #475568;
  background: #fff;
  width: 100%;
}

#feat-list .container {
  height: 100%;
}

#feat-list .featbox {
  height: 100%;
  color: #607D8B;
}

.feat-icon {
  background: transparent;
  font-size: 64px;
  height: 76px;
  color: inherit;
}

.featbox .inner {
  margin: auto;
  text-align: center;
}

.featbox .text {
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  font-family: "Roboto", sans-serif; 
}

.feat-icon .material-icons {
  font-size: inherit;
}

#feat-list .feat1 {
}

#feat-list .feat2 {
}

#feat-list .feat3 {
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  background: #FFF none repeat scroll 0% 0%;
  border: 1px solid #4AAAA5;
  position: absolute;
  top: -1px;
  left: -16px;
  text-align: center;
  line-height: 26px;
  z-index: 1000;
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}

.step-circle.left {
  right: -15px;
  left: auto;
}

.flat-btn1 {
  color: #F4F4F4;
  background: #4AAAA5 none repeat scroll 0% 0%;
  font-weight: 400;
  padding: 12px 33px;
  margin-left: 5px;
  margin-top: 20px;
//  font-family: Arial, sans-serif;
  font-family: $secondary-font;
  border-width: 0px 0px 2px;
  border-style: solid;
  border-color: #E3EDF4 #E3EDF4 #3A9A95;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 4px;
  font-size: 23px;
}

.flat-btn1:hover {
  background: #2A8A85 none repeat scroll 0% 0%;
//  text-decoration: underline;
}
.landing-button{
  width: 330px;
  text-align:center;
}
@import "variables";
@import "functions";
.flat-btn2{
  background: color($color-accent);
  color: #F4F4F4;
  font-weight: bold;
  padding: 12px 33px;
  font-family: Arial, sans-serif;
  border-width: 0px 0px 2px;
  border-style: solid;
  border-color: #E3EDF4 #E3EDF4 color($palette-light-blue-A400);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 4px;
  font-size: 14px;
}
.flat-btn2:hover{
  background: color($palette-light-blue-A400);
}