.auth-container{
	min-height: 1000px;
	background: transparent;
	padding: 50px 0px;
}
.form-container{
	position: relative;
	background: #EEEEEE;
	min-height: 485px;
	margin-top: 80px;
}
.form-icon-container{
	position: absolute;
	top: -12%;
	left: 39%;
	background: url(../images/form_icon.png) no-repeat;
	height: 120px;
	width: 120px;
	border-radius: 60px;
}
.form-label-container{
	padding: 75px 0px 30px 0px;
}
.form-item{
	text-align: left;
	position: relative;
	padding: 3%;
	background: #D3D3D3;
	margin-bottom: 6%;
	font-family: "Open Sans",sans-serif;
	color: #676767;
	font-weight: 600;
	font-size: 16px;
	outline: medium none;
	border-radius: 5px;
	border: 1px solid #DED6D6;
}
.form-item:hover{
	border: 1px solid #949494;
	transition: all 0.5s ease 0s;
}
.form-submit{
	text-align: center;
	background: #21A957 none repeat scroll 0% 0%;
	color: white;
	font-size: 20px;
	font-weight: 500;
}
.form-submit:hover{
	box-shadow: 0px 0px 10px #666464 inset;
	background: #128A42;
	transition: all 0.5s ease 0s;
}
.checkbox{
	padding: 22px;
}
.checkbox-item{

}