.phone-headline-container{
	padding-top: 50px;
	padding-bottom: 50px;
}
.phone-headline-container h1{
	margin: 0px;
}
.phone-container{
	padding-top: 10px;
	padding-bottom: 30px;
}
.phone-img-container{
	position: relative;	
	height: 510px;
}
.phone-img{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	width: 250px;
}
.phones-grid .grid-item{
  height: auto;
}