@import "variables";
@import "functions";

@media(max-width: 996px) {
  .timeline-border, .headline-border {
    display: none;
  }
  .full-box-container {
    .box-icon-container, .step-circle {
      display: none;
    }
  }
  .footer-logo {
    display: none;
  }
  .featbox {
    .feat-icon {
      font-size: 38px;
      height: 45px;
    }
    .text {
      font-size: 20px;
    }
  }
  .slider-section {
    height: 500px;
    .landing-slogan {
      margin-top: 120px;
      font-size: 18px;
    }
  }
  .text-logo {
    font-size: 22px;
  }
}

@media(max-width: 760px) {
  .text-logo {
    font-size: 40px;
  }
}

@media(max-width: 400px) {
  .text-logo {
    font-size: 25px;
  }
  .landing-button {
    width: 100%;
  }
  .slider-section {
    height: 400px;
    .landing-slogan {
      margin-top: 60px;
      font-size: 15px;
    }
  }
}