.rules-bg-container{
	min-height: 1000px;
	background: white;
	padding: 0px;
}
.basic-info-wrapper{
	padding: 50px 0px;
	//background: black;
}
.front-phone-img-wrapper{
	position: relative;
	padding: 0px 40px 10px 40px;
	//background: red;
	height: 480px;
	border: 5px solid #fff;
	box-shadow: 0px 1px 3px;
	margin: 86px 0px;
}
.front-phone-img-container{
}
.front-phone-img-container img{
	height: 100%;
	width: 100%;
}
.phone-name{
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(43, 43, 43, .4);
	height: 40px;
	color: white;
	transition: .2s ease-in;
}
.front-phone-img-wrapper:hover .phone-name{
	background: rgba(43, 43, 43, 0.8);
}
.phone-name:hover{
	background: rgba(43, 43, 43, 0.8);
}
.basic-info-container{
	//background: green;
	height: 642px;
}
.rules-headline-container{
	height: 65px;
	background: #F6F7F4;
}
.questions-container{
	margin-top: 20px;
	padding: 20px 0px;
	//height: 250px;
	border: 1px solid #A5A6AB;
}
.question-text{
	margin-top: 0px !important;
	margin-bottom: 20px !important;
}
.color-btn{
	margin-left: 20px !important;
	margin-right: 20px !important;
	height: 60px;
	border: 1px solid black;
	border-radius: 0px !important;
}
.color-black{
	background: black;
	color: white;
}
.color-white{
	background: white;
	color: black;
}
.color-gold{
	background: #DBC374;
	color: black;
}
.answer-container .active{
	border: 1px solid #20BBEA !important;
}
.memory-card-bg{
	background: url('../images/memory_card.png');
	background-size: 120px 80px;
	background-position: center center;
	width: 120px;
	height: 80px;
	border: none !important;
	color: white;
}
.memory-card-bg.active{
	background-image: url('../images/memory_card.png') !important;
}
.memory-card-bg h4{
	margin-top: 22px;
}
.carrier-bg{
	background: #F0F0F0;
	height: 85px;
	padding: 12px 0px;
}
.carrier-bg img{
	height: 60px;
	width: 100%;
}
.rules-wrapper{
	padding: 30px 0px;
}
.rules-container{
	padding: 30px 0px;
}
.rules-container h3{
	margin-bottom: 30px;
}
.options-container{
	height: 80px;
	padding: 0px !important;
	border-radius: 10px;
	overflow: hidden;
}
.bool-btn-container h3{
	margin: 0px;
	position: relative;
	top: 24%;
	font-size: 32px;
}
.yes.active{	
	box-shadow: inset -3px 3px 2px $grid-shadow;
	background: #36ADB3;
	color: #E6EBEF;
}
.no.active{
	box-shadow: inset 3px 3px 2px $grid-shadow;
	background: #36ADB3;
	color: #E6EBEF;
}
.bool-btn-container{
	height: 100%;
	background: #B1B3B2;
	border: none;
	border-radius: 0px;
}