@import "functions";
$body-container-color: white;
$box-container-color: white;
$footer-color: #000000;
$footer-height: 75px;
$middle-headline-color: #575757;
$timeline-border-color: #9AC93D;
$primary-font: 'Roboto Condensed', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$preferred_font: $primary-font;
$font-family-base: $primary-font;
$grid-shadow: rgba(64, 64, 64, 0.4);
@import "mdl/color-definitions";
$color-primary: $palette-teal-400;
$color-primary-dark: $palette-teal-700;
$color-accent: $palette-light-blue-A200;