@import "variables";
.accordin{
  .accordin-content{
    font-size: 16px;
    padding: 0px 0px 0px 30px;
  }
  .accordin-title{
    cursor: pointer;
    color: color($palette-teal-500);
    i{
      vertical-align: text-bottom;
      margin-right: 5px
    }
    i.closed{
      display:none;
    }
    i.opened{
      display: inline-block;
    }
    &.collapsed{
      i.closed{
        display: inline-block;
      }
      i.opened{
        display:none;
      }
    }
  }
}