<div class="field clearfix" id="questions">
    <div ng-repeat="q in questions" class="qt-question">
        <input type="text" ng-model="q.title" placeholder="Question Title">
        <h5>Options</h5>
        <div ng-repeat="opt in q.options">
            <input type="text" ng-model="opt.label" placeholder="Option Label">
            <input type="text" ng-model="opt.add" placeholder="Add Value">
            <input type="text" ng-model="opt.minus" placeholder="Minus Value">
        </div>
        <a ng-click="add_option(q)"></a>
    </div>
</div>
<div class="field clearfix">
    <a href="javascript:void(0)" ng-click="add_row()">Add Question</a>
</div>